@namespace MVP_Core.Shared

@inherits LayoutComponentBase

<div class="main-layout">
    <header class="p-3 bg-dark text-white">
        <h2>MVP_Core Admin</h2>
    </header>
    <div class="p-4">
        @Body
    </div>
</div>
