@model Pages.Admin.AdminUsers.EditModel
@using Services.Admin
@{
    var allModules = PermissionService.GetAllModules();
}
<div class="mb-3">
    @foreach (var module in allModules)
    {
        <label class="block">
            <input type="checkbox" name="EnabledModules" value="@module" @(Model.EnabledModules?.Contains(module) == true ? "checked" : "") />
            @module
        </label>
    }
</div>
